@tailwind base;
@tailwind components;
@tailwind utilities;

font-face{
  font-family: "Font1";
  src: local("CormorantGaramond-Medium"),
       url('./fonts/CormorantGaramond-Medium.ttf') format("truetype");
  font-family: "Font2";
  src: local("CormorantGaramond-Light"),
       url('./fonts/CormorantGaramond-Regular.ttf') format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255 228 230);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.offcanvas.offcanvas-top { 
  height: max-content;
  width: 90vw;
}

.form-control::placeholder {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

.head{
  font-family : "Font1";
}

.head1{
  font-family : "Font2";
}

.container1{
  height:100vh;
}

.btn1{
  --bs-btn-color: rgb(33,37,41);
  --bs-btn-active-color: rgb(33,37,41);
  --bs-btn-hover-color: rgba(0,0,0,0.55);

  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-border-color: transparent;

  --bs-btn-bg: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-active-bg: transparent;
}